	/* Left */
	.ob_iBL
	{
    	position: absolute;
    	font-size: 1px;
    	height: 17px;
    	width: 10px;
    	left: 0px;
    	background-image: url(images/button.png);
	}
	
	* HTML .ob_iBL
	{
	    -background-image: url(images/button.gif);
	}
	
	/* Center */
	.ob_iBC
	{
		margin-left: 10px;
	    margin-right: 10px;
	    font-family: Verdana !important;
		font-size: 10px !important;
		font-weight: normal !important;
		color: #4B555E;
		height: 17px;
		line-height: 17px;
		-moz-user-select: none;
		background-repeat: repeat-x;
		zoom: 1;
		overflow: hidden;
		background-image: url(images/button.png);
	}
	
	* HTML .ob_iBC
	{
	    -background-image: url(images/button.gif);
	}
	
	.ob_iBC div
	{
	    display: inline;
	    position: relative;
	    top: 3px;
	    height: 10px;
	    line-height: 10px;
	}
	
	.ob_iBC input
	{
	    font-size: 1px;
	    width: 1px;
	    height: 1px;
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    z-index: -1;
	    outline: 0;
	    border: 0px;
	}
	
	/* Right */
	.ob_iBR
	{
		position: absolute;
		right: 0px;
    	font-size: 1px;
    	height: 17px;
    	width: 10px;
    	right: 0px;
    	background-image: url(images/button.png);    	
	}
	
	* HTML .ob_iBR
	{
	    -background-image: url(images/button.gif);
	}
	
	.ob_iBOv
	{
	    position: absolute;
	    left: 0px;
	    bottom: 0px;
	    top: 0px;
	    right: 0px;
	    background-image: url(images/overlay.gif);
	    width: 100%;
	    height: 17px;
        float: left;	    
	}
	
	
	
	
	
	/* Normal State - container */
	.ob_iBCN
	{
        position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Normal State - left */
	.ob_iBCN .ob_iBL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - center */
	.ob_iBCN .ob_iBC
	{
		background-position: 0px -85px;
	}
		
	/* Normal State - right */
	.ob_iBCN .ob_iBR
	{
		background-position: -10px 0px;
	}
	
	
	
	/* Over State - container */
	.ob_iBCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Over State - left */
	.ob_iBCO .ob_iBL
	{
		background-position: 0px -17px;
	}
	
	/* Over State - center */
	.ob_iBCO .ob_iBC
	{
		background-position: 0px -102px;
	}
	
	/* Over State - right */
	.ob_iBCO .ob_iBR
	{
		background-position: -10px -17px;
	}
	
	
	
	
	
	/* Pressed State - container */
	.ob_iBCP
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Pressed State - left */
	.ob_iBCP .ob_iBL
	{
		background-position: 0px -34px;
	}
	
	/* Pressed State - center */
	.ob_iBCP .ob_iBC
	{
		background-position: 0px -119px;
	}
	
	.ob_iBCP .ob_iBC div
	{
	    top: 4px;
	    left: 2px;
	}
	
	/* Pressed State - right */
	.ob_iBCP .ob_iBR
	{
		background-position: -10px -34px;
	}
	
	
	
	
	
	/* Focused State - container */
	.ob_iBCF
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Focused State - left */
	.ob_iBCF .ob_iBL
	{
		background-position: 0px -51px;
	}
	
	/* Focused State - center */
	.ob_iBCF .ob_iBC
	{
		background-position: 0px -136px;
	}
	
	/* Focused State - right */
	.ob_iBCF .ob_iBR
	{
		background-position: -10px -51px;
	}
	
	
	
	
	
	/* Disabled State - container */
	.ob_iBCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Disabled State - left */
	.ob_iBCD .ob_iBL
	{
		background-position: 0px -68px;
	}
	
	/* Disabled State - center */
	.ob_iBCD .ob_iBC
	{
		background-position: 0px -153px;
	}	
	
	/* Disabled State - right */
	.ob_iBCD .ob_iBR
	{
		background-position: -10px -68px;
	}